body{
  font-family: 'Courier New', monospace;
  font-size: 14px;
}
table{
  border: 2px solid #eee;
  border-collapse: collapse;
}
thead, tfoot{
  background: #eee;
}
th, td{
  padding: 8px;
  text-align: center;
}